---
    name: Tox
    "on":
      push:
        branches: [main]
      pull_request:
        branches: [main, dev]
    
    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
    
    jobs:
      tests:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-python@v5
            with:
              python-version: |
                3.9
                3.10
                3.11
                3.12
                3.13
          - name: Install uv
            uses: astral-sh/setup-uv@v5
          - name: Install dependencies
            run: uv sync
          - name: Run Tox
            run: uv run tox
